.currentlyListening, .notListening {
    display: flex;
}

.currentlyListening_info, .notListening_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.currentlyListening_info h2 {
    font-size: 16px;
    line-height: 16px;
    color: #e8e8e8;
    font-weight: 400;
    margin-bottom: 8px;
}

.notListening_info h2 {
    font-size: 16px;
    color: #919191;
    font-weight: 300;
}

.currentlyListening .albumImage {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 2px solid rgba(232, 232, 232, 0.5);
    padding: 3px;
    animation: spin 3s linear infinite;
    animation-play-state: running;
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.notListening .albumImage {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3px solid #e8e8e8;
    padding: 6px;
}

.currentlyListening .albumImage:hover {
    animation-play-state: paused;
}

.currentlyListening_info .title {
    font-weight: 200;
    font-size: 18px;
}

.notListening_info .title {
    font-weight: 300;
    font-size: 20px;
}


@media screen and (min-width: 60em) {
    .currentlyListening_info .title {
        font-size: 18px;
    }

    .notListening_info .title {
        font-size: 18px;
    }
}