.currentlyListening, .notListening {
    display: inline-flex;
}

.currentlyListening_info, .notListening_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.currentlyListening_info .songtitle {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
}

.notListening_info .songtitle {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 8px;
}

.currentlyListening .albumImage {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 1px solid #2f2f2f;
    padding: 4px;
    animation: spin 3s linear infinite;
    animation-play-state: running;
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.notListening .albumImage {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 1px solid #2f2f2f;
    padding: 4px;
}

.currentlyListening .albumImage:hover {
    animation-play-state: paused;
}

.currentlyListening_info .title {
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
}

.notListening_info .title {
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
}


@media screen and (min-width: 60em) {
    .currentlyListening_info .title {
        font-size: 18px;
    }

    .currentlyListening_info .title {
        font-size: 18px;
        line-height: 22px;
    }

    .notListening_info .title {
        font-size: 18px;
        line-height: 22px;
    }
}