.projects {
    font-weight: 300;
    background-image: none;
}

.subinfo  {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.subtitle  {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.75;
    margin: 20px 0;
}

.textBold {
    font-family: 'SpaceTextBold', sans-serif;
}

.textMedium {
    font-family: 'SpaceTextMedium', sans-serif;
}

.projectsSectionHighlight {
    font-size: 20px;
    line-height: 30px;
}

.projectsSectionSummary {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
} 

.projectsSectionText {
    margin-bottom: 24px;
} 

.projectsSection {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 96px 0 72px 0;
}

.projectsSection figure {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
}

.projectsSection figure figcaption {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 8px;
}

.double_figure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
}

.mockup {
    padding: 0 4em;
}

.persona {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 24px;
    padding: 2em;
    font-family: 'SpaceTextLight', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    align-items: flex-start;
}

.persona .info .title {
    font-family: 'SpaceTextRegular', sans-serif;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
}

.persona .info .text {
    font-size: 15px;
    line-height: 24px;
}

.persona .pic {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 12px;
}

.persona .pic img {
    width: 192px;
    height: 192px;
    object-fit: cover;
    border-radius: 50%;
}

.headlineProjects .info  {
    margin-bottom: 40px;
}

/*
    MEDIUM
*/

@media screen and (min-width: 30em) and (max-width: 60em) {


}

/*
    LARGE
*/

@media screen and (min-width: 60em) {
    .headline  {
        padding-right: 0;
    }

    .subtitle {
        margin-top: 32px;
        margin-bottom: 0;
    }

    .nextSectionContainer {
        display: inline-block;
        position: relative;
    }
    
    .nextSection {
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        position: absolute;
        transform: rotate(90deg);
        bottom: 67px;
    }

    .projectsSection {
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-column-gap: 20px;
        padding: 0 40px 0 0px;
        margin: 96px 0;
    }

    .projectsSection figure {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;
    }

    .projectsSectionHighlight {
        font-size: 24px;
        line-height: 34px;
        padding: 0 40px 0 0;
    }

    .projectsSectionSummary {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 24px;
    } 

    .projectsSectionText {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 24px;
    } 

    .headlineProjects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 56px;
        align-items: center;
    } 

    .headlineProjects h2 {
        margin: 40px 0;
    } 

    .headlineProjects2 {
        grid-template-columns: 1fr 2fr;
    } 

    .doubleImage {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-column-gap: 12px;
    } 

    .headlineProjects .info {
        margin-bottom: 0;
    }

    .persona {
        grid-template-columns: auto 1fr;
    }

    .persona .pic {
        margin-bottom: 0;
    }
}