body {
 padding: 0;
 margin: 0;
 border: 0;
}

.projects {
    font-weight: 300;
    color: #515151;
    background-color: #E8E8E8;
    background-image: none;
}

.projects_section .container {
    padding: 4em 120px;
}

.white  {
    background-color: #ffffff;
}

.lightgrey  {
    background-color: #d6d6d6;
}

.darkgrey {
    color: #E8E8E8;
    background-color:#515151;
}

.projects_pic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.projects_pic img {
    width: 100%;
    height: auto;
    max-width: 800px;
}

.projects_pic2 img {
    max-width: 100%;
}

.projects_pic3 img {
    max-width: 75%;
}

.projects_pic figcaption {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 16px;
}

.header .subinfo  {
    position: relative;
}

.header .subinfo  {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.header .subtitle  {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header .pic .overlay {
    position: absolute;
    width: 100%;
    height: 400px;
}

#lastfm .header {
    color: #E8E8E8;
    background-color: #D60F07;
}

#lastfm .header .pic .overlay {
    background: linear-gradient(90deg, #D60F07 0%, rgba(214, 15, 7, 0) 45%);
}

#billpay .header {
    color: #E8E8E8;
    background-color: #FF5F00;
}

#billpay .header .pic .overlay {
    background: linear-gradient(90deg, #FF5F00 0%, rgba(214, 15, 7, 0) 45%);
}

#billpay .persona .info .title {
    color: #FF5F00;
}

h2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -1.7px;
}

h3 {
    font-weight: 200;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    margin-bottom: 36px;
}

h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    margin-top: 32px;
    margin-bottom: 12px;
}

h5 {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1px;
    margin: 16px 0;
}

.double_figure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
}

.mockup {
    padding: 0 4em;
}

.persona {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 24px;
    margin: 2em 8em;
    background: rgb(245, 245, 245);
    padding: 3em;
}

.persona .info .title {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 16px;
}

.persona .info .text {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.persona .pic img {
    width: 192px;
    height: 192px;
    object-fit: cover;
    border-radius: 50%;
}

/*
    MEDIUM
*/

@media screen and (min-width: 30em) and (max-width: 60em) {


}

/*
    LARGE
*/

@media screen and (min-width: 60em) {

    .header {
        width: 100%;
        height: 400px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 60% 40%;
        grid-column-gap: 12px;
    }
    
    .header .info {
        padding-left: 120px;
    }
    
    .header .pic {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header h2 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -1.4px;
        margin-bottom: 24px;
        font-weight: 500;
    }
    
}