body {
    font-size: 16px;
    line-height: 26px;
    font-family: 'SpaceTextRegular', sans-serif;
    color: #2f2f2f;
    background-color: #e8e8e8;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, figure {
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #c9c9c9;
}

::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}

#button1 {
    display: inline-block;
    font-family: 'SpaceTextMedium', sans-serif;
    color: #FF004F;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    padding: 16px 20px;
    text-transform: uppercase;
    border: 1px solid #FF004F;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
 }

 #button1:hover {
    color: #e8e8e8;
    background-color: #FF004F;
 }

 #button2  {
    display: inline-block;
    font-family: 'SpaceTextMedium', sans-serif;
    color: #2f2f2f;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.5px;
    padding: 16px 20px;
    text-transform: uppercase;
    border: 1px solid #2f2f2f;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
 }

 #button2:hover {
    color: #e8e8e8;
    background-color: #2f2f2f;
 }

 .buttonarrow  {
    display: inline-block;
    transform: rotate(-45deg);
 }

 .indexbutton  {
    display: none;
 }

ol[type="A"] li {
   margin-top: 20px;
}

.main  {
    color: #2f2f2f;
    padding-left: 120px;
    padding-top: 80px;
}

a {
    color: #2f2f2f;
    text-decoration: underline;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    color: #2f2f2f;
    background-color: #e8e8e8;
    width: 100%;
    padding: 0 12px;
    padding-bottom: 64px;
}

nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed;
    font-size: 16px;
    background: rgba(232, 232, 232, 0.85);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 16px;
    z-index: 9999999;
}

nav .headlineLink:hover {
    text-decoration: none;
}

.navPlaceholder {
    height: 64px;
}

.headlineLink {
    text-decoration: none;
}

.headlineDot {
    display: inline;
    -webkit-animation: line 1.4s infinite;
    animation: line 1.4s infinite;
}

.headline h2  {
    margin-bottom: 20px;
}

@-webkit-keyframes line {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@keyframes line {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

h1 {
    color: #FF004F;
    font-size: 32px;
    line-height: 32px;
    text-decoration: none;
    font-weight: 500;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-weight: 200;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

h4 {
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
    line-height: 32px;
    opacity: 0.5;
}

.contactContainer {
    display: none;
}

.contact {
    display: none;
}

.headlineContainer  {
    margin: 0;
}

.headlineContainer {
    display: flex;
    align-items: center;
}

.headline {
    position: relative;
}

.headlineHighlight {
    display: inline;
    color: #FF004F;
}

.headlineHighlight2 {
    font-size: 32px;
    line-height: 28px;
}

.nextSectionContainer {
    display: none;
}

.nextSection {
    display: none;
}

main  {
    width: 100%;
    padding: 12px;
    padding-top: 0;
    margin-top: 64px;
}

main .project {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    margin-bottom: 96px;
}

main .project .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    order: 2;
}

main .project .image {
    display: block;
    margin-bottom: 20px;
    order: 1;
}

.category  {
    margin-bottom: 12px;
}

.category span {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.breadcrumb  {
    margin-bottom: 32px;
}

.header .description {
    font-size: 72px;
    line-height: 80px;
    margin: 0;
}

.menuContainer {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.menu li {
    list-style-type: none;
    margin-right: 12px;
}

footer {
    padding: 0;
}

.subtitle  {
    position: relative;
}

.subtitle .arrow {
    position: absolute;
    margin-left: 10px;
    transform: rotate(90deg);
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

#music {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    align-items: center;
    margin: 24px 0;
    padding: 12px;
}

#music .subtitle {
    margin-bottom: 16px;
}

#social {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 12px;
    align-items: center;
    margin: 24px 0;
    padding: 12px;
}

#social .subtitle {
    margin-bottom: 16px;
}

#social .menu {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#social .menu li {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;
}

#credit {
    display: flex;
    justify-content: center;
    padding: 2em 4em;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.5;
}

.projectsSection {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 96px 0 72px 0;
}

.gridProjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 12px;
}

.aboutMeSectionHighlight {
    font-size: 20px;
    line-height: 30px;
}

.twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 24px;
    margin-bottom: 40px;
}

/*
    MEDIUM
*/

@media screen and (min-width: 30em) and (max-width: 60em) {
}

/*
    LARGE
*/

@media screen and (min-width: 60em) {
    body {
        font-size: 20px;
        line-height: 32px;
    }

    #button1 {
        display: inline-block;
        font-family: 'SpaceTextMedium', sans-serif;
        color: #FF004F;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.5px;
        padding: 16px 20px;
        text-transform: uppercase;
        border: 1px solid #FF004F;
        text-decoration: none;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
     }
    
     #button1:hover {
        color: #e8e8e8;
        background-color: #FF004F;
     }
    
     #button2  {
        display: inline-block;
        font-family: 'SpaceTextMedium', sans-serif;
        color: #2f2f2f;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.5px;
        padding: 16px 20px;
        text-transform: uppercase;
        border: 1px solid #2f2f2f;
        text-decoration: none;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
     }
    
     #button2:hover {
        color: #e8e8e8;
        background-color: #2f2f2f;
     }
    
     .indexbutton  {
        margin-top: 40px; 
        position: absolute; 
        bottom: -80px;
     }
    
    ol[type="A"] li {
       margin-top: 20px;
    }
    
    .main  {
        color: #2f2f2f;
        padding-left: 120px;
        padding-top: 80px;
    }
    
    a {
        color: #2f2f2f;
        text-decoration: underline;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
    
    header {
        display: grid;
        grid-template-columns: 120px 1fr 120px;
        position: relative;
        color: #2f2f2f;
        background-color: #e8e8e8;
        height: calc(100vh - 104px);
        width: 100%;
        margin-top: 0;
        padding: 0;
        padding-bottom: 104px;
    }
    
    nav {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        position: fixed;
        font-size: 16px;
        background: rgba(232, 232, 232, 0.85);
        backdrop-filter: blur(10px);
        padding: 20px 120px;
        z-index: 9999999;
    }
    
    nav .headlineLink:hover {
        text-decoration: none;
    }

    .navPlaceholder {
        height: 104px;
    }

    .headlineContainer  {
        margin: 0;
    }
    
    .headlineLink {
        text-decoration: none;
    }
    
    .headlineDot {
        display: inline;
        -webkit-animation: line 1.4s infinite;
        animation: line 1.4s infinite;
    }

    .headline h2  {
        margin-bottom: 0;
    }
    
    h1 {
        color: #FF004F;
        font-size: 32px;
        line-height: 32px;
        text-decoration: none;
        font-weight: 500;
    }
    
    
    h2 {
        font-family: 'SpaceTextRegular', sans-serif;
        font-size: 56px;
        line-height: 68px;
        margin: 0;
        font-weight: 500;
    }
    
    
    h3 {
        font-weight: 200;
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 40px;
    }

    h4 {
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        opacity: 0.5;
        margin-bottom: 24px;
    }
    
    .subtitle {
        font-size: 20px;
        line-height: 32px;
        opacity: 0.5;
    }
    
    .contactContainer {
        position: relative; 
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
    
    .contact {
        display: inline-block;
        position: fixed;
        transform: rotate(-90deg);
        font-size: 16px;
        line-height: 16px;
        min-width: 260px;
    }
    
    .headlineContainer {
        display: flex;
        align-items: center;
    }
    
    .headline {
        position: relative;
        padding-right: 420px;
    }

    .headline h2  {
        margin: 0;
    }

    .headlineHighlight2 {
        font-size: 56px;
        line-height: 68px;
    }
    
    .nextSectionContainer {
        display: inline-block;
        position: relative;
    }
    
    .nextSection {
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        position: absolute;
        transform: rotate(90deg);
        bottom: 52px;
    }
    
    main {
        width: 100%;
        padding-left: 120px;
        margin-top: 104px;
    }

    .breadcrumb  {
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }

    #about main  {
        width: 100%;
        margin-top: 40px;
        padding: 0 20px 0 120px;
    }
    
    
    main .project {
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-column-gap: 20px;
        margin-bottom: 96px;
    }
    
    main .project .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        order: 1;
    }
    
    main .project .image {
        margin-top: 0;
        margin-right: -120px;
        order: 2;
    }
    
    .category  {
        margin-bottom: 24px;
    }
    
    .category span {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
    }
    
    .header .description {
        font-size: 72px;
        line-height: 80px;
        margin: 0;
    }
    
    .menuContainer {
        display: flex;
        align-items: center;
    }
    
    .menu {
        display: flex;
        align-items: center;
    }
    
    .menu li {
        list-style-type: none;
        margin-right: 12px;
    }
    
    footer {
        padding: 0;
    }

    footer .subtitle .arrow {
        transform: none;
    }

    #music {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-column-gap: 12px;
        align-items: center;
        margin: 24px 0;
        padding: 12px 120px;
    }

    #social {
        display: none;
    }
    
    #credit {
        display: flex;
        justify-content: flex-end;
        padding: 2em 4em;
        font-size: 11px;
        line-height: 11px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        opacity: 0.75;
    }

    .gridProjects {
        grid-row-gap: 24px;
    }

    .aboutMeSectionHighlight {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .projectsSection {
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-column-gap: 20px;
        padding: 0 40px 0 0px;
        margin: 96px 0;
    }

    .subtitle .arrow {
        position: absolute;
        margin-left: 10px;
        transform: rotate(0deg);
    }
}