body {
    overflow-x: hidden;
    font-family: 'Heebo', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #c9c9c9;
}

::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}

header {
    background-image: linear-gradient(90deg, #FF934F, #DA6563);
    background-color: #FF934F;
    color: #f4f4f4;
}

nav {
    overflow: hidden;
    position: absolute;
}

nav a {
    color: #f4f4f4;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
}

nav a:hover {
    border-bottom: 3px solid #f4f4f4;
}

#header h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 100px;
    line-height: 0.9em;
    color: #E8E8E8;
}

#header h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 1.7em;
    margin-top: 18px;
    letter-spacing: 4px;
    line-height: 1.4em;
    color: #f4f4f4;
}

#name:after {
    content:'|';
    position: absolute;
    display: inline;
    -webkit-animation: line 1.4s infinite;
    animation: line 1.4s infinite;
}

@-webkit-keyframes line {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes line {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#more{
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-out;
    background-color: #111;
}

#more:hover{
    background-color: #f4f4f4;
    color: #111;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

#more:hover::after{
    height: 100%;
}

h1 {
    color: #FF934F;
    font-size: 30px;
}

.interested {
    background-image: linear-gradient(90deg, #FFADA2, #FF934F);
    margin-bottom: -1px;
}

.interested h1 {
    font-weight: 300;
    color: #fff;
}

.listening {
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 4rem 5rem;
}

.listening:hover {
    background-color: #e9e9e9;
    cursor: cell;
}

hr.hrBetween {
    border-top: 1px solid #d1d1d1;
    margin-left: 200px;
    margin-right: 200px;
}