@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;700&display=swap');

h2 {margin:0;}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #c9c9c9;
}

::-webkit-scrollbar-thumb:hover {
    background: #acacac;
}

body {
    font-family: 'Heebo', sans-serif;
    background-image: -moz-linear-gradient(to right, #FF934F, #FF6F61);
    background-image: -webkit-linear-gradient(to right, #FF934F, #FF6F61);
    background-image: linear-gradient(90deg, #FF934F, #FF6F61);
    background-color: #FF934F;
    color: #E8E8E8;
    overflow-x: hidden;
    height: 100vh;
}

#pages {
    flex-grow: 1;
    display: flex;
    transition: 1s;
    flex-direction: column;
}

#pages section {
    overflow: auto;
    min-width: 100%;
    overflow-y: auto;
    height: 100vh;
}

#headerinner {
    position: relative;
}

.headerinner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 100%;
}

.headerinner a {
    color: #E8E8E8;
    font-weight: 500;
    text-decoration: none;
}

.headerinner a .text {
    padding-right: 12px;
}

.headerinner a .img {
    display: inline-block;
    width: 61px;
    height: 8px;
    background-image: url(../img/arrowlight.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.headerinner h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 105px;
    line-height: 95px;
    letter-spacing: -7px;
    color: #E8E8E8;
    margin-bottom: 20px;
}

.headerinner h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 26px;
    line-height: 36px;
    margin: 0;
    letter-spacing: 1.8px;
    color: #E8E8E8;
}

.subtitles {
    margin-bottom: 20px;
}

#name:after {
    content:'\005F';
    display: inline;
    -webkit-animation: line 1.4s infinite;
    animation: line 1.4s infinite;
}

@-webkit-keyframes line {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes line {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#more {
    line-height: 1rem;
    padding: 1rem;
    color: #E8E8E8;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    background-color: #111;
}

#more:hover{
    color: rgba(227, 164, 227, 1);
    bottom: 0;
    left: 0;
    z-index: -1;
}

#more:hover::after{
    height: 100%;
}

.listening {

}

#projectsinner {
    display: grid;
    grid-template-rows:8em 1fr 8.125em;
    color: #FF934F;
    background-color: #E8E8E8;
}

#projectsinner .main {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
}

#projectsinner .main .pager {
    display: none;
}

#projectsinner .main .pager a .img {
    display: inline-block;
    width: 61px;
    height: 8px;
    background-image: url(../img/arrowdark.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.projectscontainer {
    overflow-x: hidden;
    height: 100%;
}

.projectscontainer .project {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.projectscontainer .project .projectinfo {
    position: absolute;
    width: 100%;
    height: 12.5em;
    bottom: 0;
    background: linear-gradient(180deg,  rgba(234, 120, 91, 0) 0%, rgba(234, 120, 91, 0.5) 50%, #FF934F 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px 24px 24px;
}

.projectscontainer .project .projectinfo p {
    margin: 0;
    font-family: Heebo;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #E8E8E8;
    margin-bottom: 12px;
}

.projectscontainer .project .projectinfo h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -1.7px;
    color: #E8E8E8;
}

#projectsinner .currentlyListening_info h2 {
    color: #FF934F;
}

#projectsinner .currentlyListening .albumImage {
    border: 2px solid rgba(255, 147, 79, 0.5);
}

#projectsinner .notListening .albumImage {
    border: 2px solid rgba(255, 147, 79, 0.5);
}

#projectslink {
    display: none;
}

#header:target ~ #pages {
    transform: translateX(-0%);
}

#projects:target ~ #pages {
    transform: translateX(-100%);
}

#footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 16px;
}

#footer #social {
    display: none;
}

#footer2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 32px 128px;
}

#footer2 .listening {
    display: none;
}

#social {
    font-size: 16px;
}

#social a {
    color: #E8E8E8;
    margin-right: 28px;
}

#social a:last-child {
    margin-right: 0;
}

#social .fab {
    padding: 4px;
}

#social a:hover {
    color: rgba(227, 164, 227, 1);
}

#projectsinner #social a {
    color: #FF934F;
    margin-right: 28px;
}

#projectsinner #social a:hover {
    color: rgba(227, 164, 227, 1);
}

#name2 {
    display: none;
}

/*
    MEDIUM
*/

@media screen and (min-width: 30em) and (max-width: 60em) {
    .header h1 {
        font-size: 85px;
    }

    .header h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .listening {
        padding: 2rem;
    }

    .about-f2 {
        font-size: 16px;
    }
}

/*
    LARGE
*/

@media screen and (min-width: 60em) {
    body {
        height: auto;
    }

    .cursor {
        position: fixed;
        width: 200px;
        height: 200px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 34, 226, 0.7) 0%, rgba(227, 164, 227, 0.65) 100%);
        border-radius: 50%;
        filter: blur(50px);
        transition: 1.0s;
        z-index: 0;
    }

    .headerinner {
        padding: 0 32px 0 128px;
    }

    .headerinner h1 {
        font-size: 120px;
        line-height: 110px;
        letter-spacing: -8px;
        margin-bottom: 20px;
    }

    .subtitles {
        margin-bottom: 32px;
    }

    .headerinner h2 {
        font-family: 'Heebo', sans-serif;
        font-size: 28px;
        line-height: 28px;
        margin-top: 0;
        margin-bottom: 16px;
        letter-spacing: 2px;
        line-height: 28px;
        color: #E8E8E8;
    }

    #pages {
        flex-direction: row;
        height: 100%;
    }

    #projectsinner .namecontainer {
        display: flex;
        align-items: center;
        padding: 0 128px;
    }

    #projectsinner #name2 {
        font-size: 36px;
        line-height: 34px;
        letter-spacing: -2.4px;
    }

    #name2:after {
        content:'\005F';
        display: inline;
        -webkit-animation: line 1.4s infinite;
        animation: line 1.4s infinite;
    }

    #projectsinner .main {
        grid-template-columns: 128px 1fr;
    }

    #projectsinner .main .pager {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 32px;
    }

    #projectslink {
        display: block;
    }

    #projectslink:hover {
        color: rgba(227, 164, 227, 1);
    }

    .swiper-slide-container {
        height: 100%;
    }
    .swiper-slide {
        min-width: 390px;
    }

    .projectscontainer .project {
        min-width: 390px;
        max-width: 390px;
    }

    h1 {
        font-size: 30px;
    }

    .header h1 {
        font-size: 120px;
    }

    .header h2 {
        font-size: 28px;
        line-height: 40px;
    }

    .interested h1 {
        font-size: 30px;
    }

    #footer {
        padding: 32px 128px;
    }

    #footer #social {
        display: block;
    }

    #name2 {
        display: block;
    }

    #footer2 {
        position: absolute;
    }

    #footer2 .listening {
        display: block;
    }
}